.about-sales {
  padding: 110px 0;
}
.about-sales__content {
  display: flex;
  align-items: center;
}
.about-sales__content_inner {
}
.about-sales__content_inner-title {
  margin-bottom: 24px;
}
.about-sales__content_inner-text {
  margin-bottom: 40px;
}
.about-sales__content_inner-button {
}
.about-sales__content-img {
}

@media only screen and (max-width: 767px) {
  .about-sales {
    padding: 40px 0;
  }
  .about-sales__content {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .about-sales__content_inner-title {
    margin-bottom: 16px;
  }
  .about-sales__content_inner-text {
    margin-bottom: 30px;
  }
}
