.about-orders {
  background-color: #f8f8fa;
  padding: 110px 0;
}
.about-orders__content {
  display: flex;
  align-items: center;
  gap: 230px;
}
.about-orders__content-img {
}
.about-orders__content_inner {
}
.about-orders__content_inner-title {
  margin-bottom: 22px;
}
.about-orders__content_inner-text {
  margin-bottom: 67px;
}
.about-orders__statistic {
  display: flex;
  gap: 37px;
}
.about-orders__statistic-card {
  display: flex;
  gap: 22px;
}
.about-orders__statistic-card_no {
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
}
.about-orders__statistic-card_text {
  font-size: 14px;
  line-height: 22px;
}

@media only screen and (max-width: 767px) {
  .about-orders {
    padding: 40px 0;
  }
  .about-orders__content {
    flex-direction: column;
    gap: 20px;
  }
  .about-orders__content_inner-title {
    margin-bottom: 16px;
  }
  .about-orders__content_inner-text {
    margin-bottom: 32px;
  }
  .about-orders__statistic-card {
    gap: 5px;
    align-items: center;
  }
  .about-orders__statistic-card_no {
    font-size: 32px;
    line-height: 40px;
  }
  .about-orders__statistic-card_text {
    font-size: 14px;
    line-height: 22px;
  }
}
