.about-video-chat {
  background-color: #f8f8fa;
  padding: 105px 0;
}
.about-video-chat__content {
  display: flex;
  gap: 130px;
  align-items: center;
}
.about-video-chat__content-img {
}
.about-video-chat__content_inner {
}
.about-video-chat__content_inner-title {
  margin-bottom: 43px;
}
.about-video-chat__content_inner-subtitle {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.about-video-chat__content_inner-text {
}

@media only screen and (max-width: 1199px) {
  .about-video-chat {
    padding: 40px 0;
  }
  .about-video-chat__content {
    flex-direction: column;
    gap: 40px;
  }
  .about-video-chat__content_inner-title {
    margin-bottom: 28px;
  }
  .about-video-chat__content_inner-subtitle {
    margin-bottom: 12px;
  }
}