.header {
  padding-top: 20px;
  padding-bottom: 57px;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu__logo {
}
.menu__nav {
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
}
.menu__personal-area {
  display: flex;
  gap: 35px;
}
.menu__personal-area_login {
  border: none;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.menu__personal-area_demo {
}
.burger-btn {
  display: none;
  width: 40px;
  height: 40px;
  background: url(../img/burger-menu.svg) no-repeat;
  border: none;
}

@media only screen and (max-width: 1199px) {
  .burger-btn {
    position: absolute;
    right: 0;
    top: 20px;
    display: block;
    z-index: 20;
  }
  .menu__nav,
  .menu__personal-area {
    display: none;
  }
  .header {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  
}
