@import url("../css/header.css");
@import url("../css/about-company.css");
@import url("../css/features.css");
@import url("../css/about-video-chat.css");
@import url("../css/about-sales.css");
@import url("../css/about-orders.css");
@import url("../css/reviews.css");
@import url("../css/start-work.css");
@import url("../css/footer.css");

/* Шрифты
font-family: 'DM Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif; */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* Основные цвета сайта */
:root {
  --accent-color: #fb8e0b;
  --dark-color: #1b1c20;
  --grey-color: #383a47;
}
/* Основные шрифты текста */
.text-1 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: var(--dark-color);
}
.text-2 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
}
.text-3 {
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-color);
}

.container {
  margin: 0 auto;
  max-width: 1295px;
}
button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
}
.button {
  padding: 13px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--accent-color);
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .text-1 {
    font-size: 34px;
    line-height: 49px;
  }
  .text-2 {
    font-size: 32px;
    line-height: 40px;
  }
}
